*
!*.yaml
!arduino
!arduino/mqtt-smoker-probe-template
!arduino/mqtt-smoker-probe-template/*
!custom_components
!custom_components/sensor
!custom_components/sensor/*
!.gitignore
secrets.yaml
known_devices.yaml
google_calendars.yaml
!st.old
entity_registry.yaml
!README.md